setuptools==41.0.0
absl-py==1.4.0
astor==0.7.1
gast==0.4.0
grpcio==1.58.0
imageio==2.3.0
Markdown==2.6.11
mido==1.2.8
numpy==1.25.0
Pillow==10.1.0
pretty-midi==0.2.8
protobuf==4.24.4
pypianoroll==0.4.6
PyYAML==3.13
scipy==1.11.0
SharedArray==3.2.3
six==1.12.0
tensorboard==2.14.0
tensorflow==2.14.0
termcolor==1.1.0
Werkzeug==1.0.1
